<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span>{{$ctrl.getString()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div>
                            <button ng-click="$ctrl.write()" href="#" class="btn btn-danger btn-lg" role="button">
                                <span class="glyphicon glyphicon-list-alt"></span>
                                <br />Apps
                            </button>
                            <div>
                                <span>{{$ctrl.message}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>