<!--Pulling Awesome Font -->
<div class="container">
    <h1>{{$ctrl.title}}</h1>
    <div class="row justify-content-center">
        <div class="col-md-offset-4 col-md-4 text-center">
            <form class="my-2" ng-submit="login($event)">
                <div class="form-login">
                    <h4 class="mt-2">Wearable Sensors Hub</h4>
                    <input type="email" id="userEmail" class="form-control input-sm chat-input" placeholder="email"
                        ng-model="user.email" />
                    </br>
                    <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password"
                        ng-model="user.password" />
                    </br>
                    <ng-show ng-show="isError">
                        <div class="my-1 alert alert-danger">
                            {{error}}
                        </div>
                    </ng-show>
                    </br>
                    <button type="submit" class="btn btn-success btn-block" ng-click="$ctrl.submit()">Login</button>
                    </br>
                    <a ui-sref="app.register">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>